@model ProfSpec.Models.ApplicationReclassification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplicationReclassification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationCourseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationCourseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worker.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StagesApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StagesApplication.StagesApplicationID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApplicationReclassificationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
