@model IEnumerable<ProfSpec.Models.Reclassification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReclassificationMentor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StagesRequalification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReclassificationMentor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worker.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StagesRequalification.StagesRequalificationID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReclassificationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReclassificationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReclassificationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
